body{
    margin: 0%;
    padding: 0%;
    background-color: darkslategrey;
}
header{
    display: flex;
    align-items: center;
}
#back{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 15px;
    background-color: transparent;
    border: none;
}
#img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 45px;
    object-fit: contain;
    border-radius: 20px;
}
h1{
    flex: 1;
    text-align: center;
}
#space1{
    width: 40px;
    height: 40px;
}

#scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2f2f;
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    border: 4px solid black;
}
.turn-box {
    display: flex;
    text-align: center;
}
.score-box{
    display:flex;
}


#main{
    display: grid;
    grid-template-rows: repeat(3,150px);
    grid-template-columns: repeat(6,150px);
    gap: 10px;
    row-gap: 20px;
    margin-top: 80px;
    justify-items: center;
    justify-content: center;
}
.card{
    width: 110px;
    height: 110px;
    background-color: #5a7880;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.4s ease;

}
.card.flipped {
    transform: scale(1.1);
    filter: brightness(1.3);
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card {
    width: 110px;
    height: 110px;
    perspective: 1000px; 
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.card-front {
    background-color: black;
}

.card-back {
    transform: rotateY(180deg);
    object-fit: cover;
}

#restart{
    background-color: yellow;
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

body{
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    overflow: hidden;
}

.shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    animation: float 6s ease-in-out infinite;
}

.shape1 {
    width: 150px;
    height: 150px;
    background: #e67d81;
    top: 5%;
    left: 13%;
}

.shape2 {
    width: 200px;
    height: 200px;
    background: #eca490;
    bottom: 18%;
    right: 12%;
}

.shape3 {
    width: 120px;
    height: 120px;
    background: #e9a8d7;
    bottom: 35%;
    left: 5%;
    animation-delay: 1s;
}

#restart{
    background: #7bd4e4;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 140px;
    height: 70px;
    display: block;
    margin: 40px auto;
    margin-bottom: 100%;
    font-weight: 700;
    font-size: 2rem;
    border: solid 4px black;
    color: #111111d2;
}

#restart:hover{
    background: rgba(7, 7, 7, 0.759);
    color: #7bd4e4;
    transform: scale(1.08);
    box-shadow: 0 0 25px #1aa5e6;
}

.shape4 {
    width: 130px;
    height: 130px;
    background: #eabc88;
    top: 5%;
    right: 18%;
    animation-delay: 1s;
}

.shape5 {
    width: 80px;
    height: 80px;
    background: #b276c2;
    top: 15%;
    left: 50%;
    animation-delay: 1s;
}

.shape6 {
    width: 95px;
    height: 95px;
    background: #76a2d7;
    bottom: 10%;
    left: 30%;
    animation-delay: 1s;
}