body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    min-height:100vh ;
}

header{
    display: flex;
    align-items: center;
}

#back{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 15px;
    background-color: transparent;
    border: none;
}

#img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 45px;
    object-fit: contain;
    border-radius: 20px;
}

h1{
    flex: 1;
    text-align: center;
}
#space1{
    width: 40px;
    height: 40px;
}

#scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2f2f;
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.25);
    width: auto;
}
.turn-box {
    display: flex;
    text-align: center;
}
.score-box{
    display:flex;
}

#main{
    display: grid;
    grid-template-rows: repeat(2,170px);
    grid-template-columns: repeat(5,150px);
    gap: 5px;
    row-gap: 10px;
    margin-top: 100px;
    justify-items: center;
    justify-content: center;
}

.card{
    width: 110px;
    height: 110px;
    background-color: #5a7880;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.card.flipped {
    transform: scale(1.1);
    filter: brightness(1.3);
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card {
    width: 110px;
    height: 110px;
    perspective: 1000px; 
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.card-front {
    background-image: url("./Photos/Card-front.png");
    background-position: center;
    background-size: cover;
}

.card-back {
    transform: rotateY(180deg);
    object-fit: cover;
}

#restart{
    background: linear-gradient(45deg, #24cfb5, #0573e1);
    color: white;
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 40px auto;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

#restart:hover{
    transform: scale(1.12);
    height: 40px;
    width: 110px
}

#lowergrid{
    display: flex;
    justify-content: space-around;
}


@media (max-width: 730px) and (min-width: 500px){
    #main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: 10px;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    #main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin-top: 10px;
    }
}

@media (max-width: 500px) and (max-height: 750px){
    #main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin-top: 10px;
    }
    .card{
        height: 90px;
        width: 90px;
    }
}

/* @media (max-width: 370px){
    #main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        margin-top: 10px;
    }
} */