body{
    margin: 0%;
    padding: 0%;
    
}
header{
    display: flex;
    align-items: center;
}
#back{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 15px;
    background-color: transparent;
    border: none;
}
#img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 45px;
    object-fit: contain;
    border-radius: 20px;
}
h1{
    flex: 1;
    text-align: center;
}
h2{
        color: #32313d;
}
#space1{
    width: 40px;
    height: 40px;
}

#scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2f2f;
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    border: 4px solid black;
}

.score-box , .time-box{
    text-align: center;
    display: flex;
}


#main{
    display: grid;
    grid-template-rows: repeat(3,120px);
    grid-template-columns: repeat(4,120px);
    gap: 60px;
    margin-top: 100px;
    justify-items: center;
    justify-content: center;
}
.card{
    width: 110px;
    height: 110px;
    background-color: #5a7880;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.4s ease;

}
.card.flipped {
    transform: scale(1.1);
    filter: brightness(1.3);
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card {
    width: 110px;
    height: 110px;
    perspective: 1000px; /* 3D flip */
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.card-front {
    background-color: rgba(0, 0, 0, 0.648);
}

.card-back {
    transform: rotateY(180deg);
    object-fit: cover;
}

#restart{
    background-color: yellow;
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 40px auto;
    margin-bottom: 100%;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

body{
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    overflow: hidden;
}


@media (max-width: 520px){
    #main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}