body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    overflow-x: hidden;
    overflow-y: auto;
}
header{
    display: flex;
    align-items: center;
}
#back{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 15px;
    background-color: transparent;
    border: none;
}

#img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 45px;
    object-fit: contain;
    border-radius: 50%;
}
h1{
    flex: 1;
    text-align: center;
}
h2{
    color: #32313d;
}
#space1{
    width: 40px;
    height: 40px;
}

#scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2f2f;
    border-bottom: 1px solid #143030;
    width: auto;
    border: 2px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.25);

}
.score-box , .time-box{
    text-align: center;
    display: flex;
}


#main{
    display: grid;
    grid-template-rows: repeat(2,120px);
    grid-template-columns: repeat(4,120px);
    gap: 60px;
    margin-top: 180px;
    justify-items: center;
    justify-content: center;
}
.card{
    width: 110px;
    height: 110px;
    background-color: #5a7880;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.card.flipped {
    transform: scale(1.1);
    filter: brightness(1.3);
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card {
    width: 110px;
    height: 110px;
    perspective: 1000px; 
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.card-front {
    background-image: url("./Photos/Card-front.png");
    background-position: center;
    background-size: cover;
}

.card-back {
    transform: rotateY(180deg);
    object-fit: cover;
}

#restart{
    background: linear-gradient(45deg, #24cfb5, #0573e1);
    color: white;
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 40px auto;
    margin-bottom: 40px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

#restart:hover{
    transform: scale(1.12);
    height: 40px;
    width: 110px
}


@media (max-width: 660px) and (min-width: 481px){
    #main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px){
    #main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
        gap: 10px;
    }
}